<h1 class="text-center my-4">Create a New Article</h1>

<% if @article.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">Following errors prevented the article from being created:</h4>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true, class: 'container' do |f| %>
  <div class="form-row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow-sm bg-primary text-white bg-opacity-50">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :title, class: 'font-weight-bold h4 text-dark' %>
            <%= f.text_field :title, class: 'form-control form-control-lg mb-4' , placeholder: 'Enter article title' %>
          </div>

          <div class="form-group mt-4">
            <%= f.label :description, class: 'font-weight-bold h4 text-dark' %>
            <%= f.text_area :description, class: 'form-control form-control-lg mb-4', rows: 5, placeholder: 'Enter article description' %>
          </div>

          <div class="form-group text-center mt-4">
            <%= f.submit 'Create Article', class: 'btn btn-dark' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="text-center mt-4">
  <%= link_to 'Return to Articles Listing', articles_path, class: 'btn btn-outline-dark' %>
</div>
